/*
		Background Gradient
	*/

body {
    background-color: #36393f;
    width: 100%;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.background.gradient {
    background: #36393f;
    background: -webkit-linear-gradient(top left, #36393f 0%, #78cc6d 100%);
    background: linear-gradient(to bottom right, #36393f 0%, #78cc6d 100%);
}


.home {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
}

/*  */
.tree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative;
}

/* Scroller bar */

.scroller_bar {
    background-color: #202225;
    /* background-color: var(--background-tertiary); */

    height: 100%;
    width: 75px;
    /* border: 1px solid grey; */
    overflow: auto;
    padding: 12px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    contain: layout size;

    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

}

.scroller_bar_base {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.list_item {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
}



.guild_separator {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    /* background-color: var(--background-modifier-accent); */
    /* background-color: #3d4046 */
}

.pill {
    position: absolute;
    left: 0;
    top: 0;
}

.item {
    position: absolute;
    display: block;
    width: 8px;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    background-color: var(--header-primary);
}

.select_wrapper {
    position: relative;
    overflow: hidden;
    width: 8px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    contain: layout size;
}

.sidebar_wrapper {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.sidebar_wrapper_ {
    background-color: #36393f;
    -webkit-transition: background-color .1s ease-out, color .1s ease-out;
    transition: background-color .1s ease-out, color .1s ease-out;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* .child_wrapper { */
.sidebar_wrapper__ {
    transition: background-color .1s ease-out, color .1s ease-out;


    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lowerBadge {}

.numberBadge {}

.private_channels {}


.bar_button {}

.screen {}

.people_column {}

.active {}

.icon {
    display: block;
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.svg {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
}

/* content */
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* sidebar */
.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

/* container */

.container {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* background-color: var(--background-primary); */
    background-color: #2f3136;

}